# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b9d1525520001e420818c8b786bd186e87fd55267261c47ede559881a9a9b5d2cb8c2cbb27a4c564eee55d1af46e755f82be5fa27e0d0c8691e31bfdd032dc32

test:
  secret_key_base: eb26ff2663f12957b826bd449ee9e18b741481578c039c6713503155310a3307ac4d1185ac8643e6688bec9e0d3e62c174e9eb0158cf90a5deb30110859cf8ad

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
